/* === auto-hide the tab sidebar === */

#sidebar-header {
  /* display: none; */
  visibility: collapse !important;
}

/* Hide splitter */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
  + #sidebar-splitter {
  display: none !important;
}

/* Shrink sidebar until hovered */
:root {
  --thin-tab-width: 55px;
  --wide-tab-width: calc(15vw + 55px);
}

#browser {
  position: relative;
}

#sidebar-box:not(
    [sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
  ) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  overflow: hidden !important;
  position: absolute !important;
  height: 100%;
  transition: all 300ms !important;
  /*transition: all 0ms 0s !important;*/
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
  z-index: 3;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
  #sidebar {
  /*transition-delay: 0s !important;*/
  transition: all 300ms !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
}

/* === auto-hide the horizontal tab bar when the sidebar is active === */
#main-window .toolbar-items {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
}

/* Default state: Set initial height to enable animation */
/* #main-window #TabsToolbar { height: 3em !important; } */
#main-window[uidensity="touch"] .toolbar-items {
  height: 3.35em !important;
}
#main-window[uidensity="compact"] .toolbar-items {
  height: 2.7em !important;
}
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="XXX"] .toolbar-items {
  height: 0 !important;
}
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="XXX"] #tabbrowser-tabs {
  z-index: 0 !important;
}
/* Move main content to the right of sidebar if not fullscreen */
#main-window[titlepreface*="XXX"] #tabbrowser-tabbox {
  margin-left: var(--thin-tab-width) !important;
}

/* hide sidebar if window is in fullscreen
#main-window[sizemode="fullscreen"] #sidebar-box {
  display: none;
}
*/

@media (-moz-bool-pref: "sidebar.verticalTabs") {
  #sidebar-main {
    visibility: collapse;
  }
}

@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled") {
  #nav-bar > .titlebar-buttonbox-container {
    order: -1 !important;
    > .titlebar-buttonbox {
      flex-direction: row-reverse;
    }
  }
}

@media not (-moz-bool-pref: "sidebar.verticalTabs") {
  #main-window[titlepreface*="XXX"] #TabsToolbar:not([customizing]) {
    visibility: collapse;
  }
  :root[sizemode="fullscreen"] #nav-bar > .titlebar-buttonbox-container {
    display: flex !important;
  }
  :root:is([tabsintitlebar], [customtitlebar])
    #toolbar-menubar:not([autohide="false"])
    ~ #nav-bar {
    > .titlebar-buttonbox-container {
      display: flex !important;
    }
    :root[sizemode="normal"] & {
      > .titlebar-spacer {
        display: flex !important;
      }
    }
    :root[sizemode="maximized"] & {
      > .titlebar-spacer[type="post-tabs"] {
        display: flex !important;
      }
      @media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
        (-moz-gtk-csd-reversed-placement),
        (-moz-platform: macos) {
        > .titlebar-spacer[type="post-tabs"] {
          display: none !important;
        }
        > .titlebar-spacer[type="pre-tabs"] {
          display: flex !important;
        }
      }
    }
  }
}
